node_modules
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json

mongodb+srv://johannabn:<password>@cluster0.9vp2eew.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0