.post-body {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 7px 7px black;
  /* width: 80%; */
  width: 100%;
  max-width: 80%;

  padding: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.post-text {
  font-size: 18px;
  margin: 10px 0 15px;
}

.like-data {
  display: flex;
}

.likeBtn {
  border-radius: 50%;
  background-color: lightgray;
  border: none;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  animation: zoomInOut 2s ease-in infinite;
  cursor: pointer;
}

.likeBtn:hover {
  background-color: pink;
}

.like-heart-emoji {
  font-size: 24px;
}

.like-and-time {
  display: flex;
  justify-content: space-between;
}

.like-counter {
  margin-top: 2rem;
  font-size: 12px;
  color: grey;
}

.time-of-post {
  color: grey;
  font-size: 15px;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
