@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url('./Menlo-Regular.ttf') format('ttf');
  src: local('Menlo Regular'), url('./Menlo-Regular.woff') format('woff');
  }

body {
  margin: 0;
  font-family: 'Menlo Regular', monospace, 'Courier New', Courier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-size: 16px;
  background: #fff;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 500px;
}

h1 {
  margin-top: 60px;
  font-size: 32px;
  text-align: center;
}

/* Text form */
form {
  margin-top: 30px;
  padding-top: 3px;
  border: 2px solid #4d4d4d;
  background: #f2f0f0;
  box-shadow: 6px 7px;
}

.post-prompt {
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}

.form-text {
  height: 100px;
  width: 460px;
  margin: 0 15px;
  padding: 8px 15px;
  font: 500 16px  'Menlo Regular', monospace, 'Courier New', Courier;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  resize: none;
  overflow: auto;
}

.counter, .p-red, .p-green {
  margin: 0px 12px 0 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  color: #4d4d4d;
  float: right;
}

.p-red {
  color: #990000;
}

.p-green{
  color: #006400;
}

.submit-button {
  margin: 10px 0 17px 15px;
  padding: 7px 11px 12px 11px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  border: 0;
  background: #ffadad;
  border-radius: 30px;
  cursor: pointer;
}

.post-span {
  margin: 12px;
}

/* Published posts */
section {
  display: flex;
  flex-direction: column;
}

.pubPost {
  min-height: 80px;
  margin-top: 40px;
  padding: 10px 16px;
  box-shadow: 6px 7px;
  border: 2px solid #4d4d4d;
  display: flex;
  flex-flow: column nowrap;
}

.post-txt {
  margin: 16px 3px;
  padding-bottom: 26px;
  font-size: 16px;
  word-break: bre;
}

.post-info {
  margin-bottom: 30px;
  padding: 0;
  height: 16px;
  display: inline-block;
}

.post-time {
  margin-top: -2px;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 13px;
  color: #a6a6a6;
  float: right;
}

.has-likes {
  margin: -38px 4px;
  height: 50px;
  width: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50%;
  border: none;
  background: #ffadad;
  cursor: pointer; 
}

.no-likes {
  margin: -38px 4px;
  height: 50px;
  width: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50%;
  border: none;
  background: #edebea;
  cursor: pointer;
}

.no-likes:hover {
  background: #f5d6d6;
}

.like-span { 
  margin-left: -2px;
  font-size: 15px;
  width: 200px;
  cursor: pointer;
}

.like-count {
  margin: -21px 70px;
  font-size: 13px;
  color: #4d4d4d;
}

.your-like-count {
  margin: 18px 70px;
  font-size: 13px;
  color: #4d4d4d;
}

/* Footer */
footer {
  margin: 60px 0;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  color: #4d4d4d;
}

footer a:hover {
  color: #ffadad;
}