.button-submit-thought {
  background-color: #8a5a44;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-family:  'Capriola', sans-serif;
  font-size: 13px;
  margin-top: 10px;
  padding: 5px 15px;
}

.thought-box {
  height: 45px;
  margin-top: 20px;
  font-size: 18px;
}

.thought-form-label {
  color: rgb(2, 2, 2);
  font-family: 'Capriola', sans-serif;
}

.error-display {
  align-items: flex-start;
  display: flex;
}

.error-message {
  font-style: italic;
  font-size: 13px;
}

.word-count {
  color:#0000ff;
  flex: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-align: end;
}
.count-turn-red {
  font-weight: bold;
  color: #8b008b;
}

.cross-sign {
  color: #ff0000;
  margin-right: 5px;
}
@media screen and (min-width: 400px) {
  .button-submit-thought {
    width: 70%;
  }
}