@import "./fonts.css";
@import "./variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--primaryFont);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

textarea:focus,
input:focus {
  outline: none;
}
